.contact-content{
    height: 100vh;
    display: block;
    margin-top: 32px;
    padding: 9px;
    position: relative;
    overflow: hidden;
    /* display: flex; */
}

.contact-content::after{
    content: "";
    background-image: url("11.svg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
    top: 0;
    z-index: -1;
}
.contact-form{
}